html, body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: normal;
}

#turfjes {
    /*font-weight: 700;*/
    font-size: 144px;
    color: #ff6666;
}

#reden {
    font-weight: 700;
    font-size: 48px;
    color: #ff6666;
}

.container {
    padding: 32px 64px;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    gap: 64px;
    width: 100%;
}

#loaded {
    display: flex;
    flex-direction: column;
    width: 55%;
}

#next {
    padding-top: 64px;
}

.bottom {
    display: flex;
    gap: 64px;
}

#image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ketel {
    height: auto;
    max-width: 100%;
}

@media only screen and (max-width: 980px) {
    .container {
        flex-direction: column;
        justify-content: normal;
    }

    .bottom {
        flex-wrap: wrap;
    }

    #loaded {
        width: 100%;
    }
}